{% import "system/macro/form/confirmation.html.twig" as form_confirmation %}
{% import "system/macro/navigation/breadcrumb.html.twig" as breadcrumb %}

{% if not isPluginUnlocked() %}
    {{ messages() | raw }}
{% else %}
    {{ breadcrumb.component({items: [localized.breadcrumb.module]}, localized) }}

    {{ messages() | raw }}

    <form action="{{ "?page=#{controllerId}" }}" method="post" class="needs-validation bc-group/form" novalidate>
        <!-- Dialog Entrance -->
        {% include "dialog/dialog-localization/partials/entrance-strings.html.twig" %}

        <!-- Dialog Details -->
        {% include "dialog/dialog-localization/partials/details-strings.html.twig" %}

        <!-- Dialog Legal Information -->
        {% include "dialog/dialog-localization/partials/legal-information-strings.html.twig" %}

        <!-- Service Details Table -->
        <div class="bc-w-2/3">
            {% include "dialog/dialog-localization/partials/service-details-strings.html.twig" %}
        </div>
        <!-- Provider Details Table -->
        <div class="bc-w-2/3">
            {% include "dialog/dialog-localization/partials/provider-details-strings.html.twig" %}
        </div>
        <!-- Consent History Table -->
        <div class="bc-w-2/3">
            {% include "dialog/dialog-localization/partials/consent-history-strings.html.twig" %}
        </div>
        <!-- Accessibility -->
        <div class="bc-w-2/3">
            {% include "dialog/dialog-localization/partials/accessibility-strings.html.twig" %}
        </div>
        <!-- Dialog IAB TCF -->
        {% include "dialog/dialog-localization/partials/iab-tcf-strings.html.twig" %}
    </form>
    <!-- Reset Dialog Localization -->
    {{ form_confirmation.component({
        headline: localized.headline.resetDialogLocalization,
        hint: localized.hint.reset,
        nonce: wpNonceField("#{controllerId}-reset"),
        route: "?page=#{controllerId}",
    }, localized) }}
{% endif %}
