{% embed "system/embed/card/card-with-info-panel.html.twig" %}
    {% import "system/macro/row/save.html.twig" as row_save %}
    {% import "system/macro/row/color-duo-selection.html.twig" as row_color_duo_selection %}
    {% import "system/macro/card/card-heading.html.twig" as card_heading %}
    {% block mainHeader %}
        {{ card_heading.component({
            title: localized.headline.switchButtonSettings,
        }) }}
    {% endblock %}
    {% block mainContent %}
        {{ row_color_duo_selection.component({
            colorA:
            {
                id: 'dialogSwitchButtonBackgroundColorActive',
                label: localized.field.active,
                value: data.dialogSwitchButtonBackgroundColorActive,
            },
            colorB:
            {
                id: 'dialogSwitchButtonBackgroundColorInactive',
                label: localized.field.inactive,
                value: data.dialogSwitchButtonBackgroundColorInactive,
            },
            title: localized.field.dialogSwitchButtonBackgroundColor,
        }) }}

        {{ row_color_duo_selection.component({
            colorA:
            {
                id: 'dialogSwitchButtonColorActive',
                label: localized.field.active,
                value: data.dialogSwitchButtonColorActive,
            },
            colorB:
            {
                id: 'dialogSwitchButtonColorInactive',
                label: localized.field.inactive,
                value: data.dialogSwitchButtonColorInactive,
            },
            title: localized.field.dialogSwitchButtonColor,
        }) }}

        {{ row_save.component({}, localized) }}
    {% endblock %}

    {% block infoPanelHeader %}
        {{ localized.global.headline.thingsToKnow | raw }}
    {% endblock %}

    {% block infoPanelContent %}
        {% embed "system/embed/accordion/accordion-group.html.twig" %}
            {% block content %}
                {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionSwitchButtonSettings', expanded: true} %}
                    {% block title %}
                        {{ localized.thingsToKnow.headlineOnWhichElementsDoTheseSettingsHaveAVisualImpact | raw }}
                    {% endblock %}
                    {% block content %}
                        <p>{{ localized.thingsToKnow.onWhichElementsDoTheseSettingsHaveAVisualImpact | raw }}</p>
                        <p>
                            <a class="bc-flex bc-justify-center" data-brlbs-modal-target="borlabsModalSwitchButtonSettings" href="#" role="button">
                                <img class="bc-w-48 bc-h-48 bc-rounded-md bc-shadow-md" src="{{ imageUrl('ttk-dialog-appearance-switch-button-settings.png') }}" alt="">
                            </a>
                        </p>
                        {% embed "system/embed/modal/modal.html.twig" with {
                            id: 'borlabsModalSwitchButtonSettings',
                            maxWidth: 'bc-max-w-2xl',
                            title: localized.headline.switchButtonSettings,
                        } %}
                            {% block icon %}
                                {% import "system/macro/icons/paint-brush.html.twig" as pain_brush_icon %}
                                <div class="bc-mx-auto bc-flex bc-h-12 bc-w-12 bc-flex-shrink-0 bc-items-center bc-justify-center bc-rounded-full bc-bg-gray-800 bc-text-white sm:bc-mx-0 sm:bc-h-10 sm:bc-w-10">
                                    {{ pain_brush_icon.component({}) }}
                                </div>
                            {% endblock %}

                            {% block description %}
                                <img src="{{ imageUrl('ttk-dialog-appearance-switch-button-settings.png') }}" alt="">
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
