{% if menu %}
	<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:border-0 ">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a class="block py-2 pl-3 pr-4 text-white bg-transparent rounded" {% if item.children %} data-dropdown-toggle="submenu-{{ item.id }}" data-dropdown-trigger="hover" {% endif %}target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			<div id="submenu-{{ item.id }}" class="z-10 hidden">
				{% include "submenu.twig" with {'items': item.children} %}
			</div>
		</li>
	{% endfor %}
	</ul>
{% endif %}
