{% if menu %}
	<ul class="flex flex-col {% if name == 'primary-menu' %}lg:gap-10{% else %}lg:gap-5{% endif %} font-medium py-4 lg:p-0 mt-4 lg:flex-row lg:mt-0 border-0 w-full lg:w-fit {{ name }}">
		{% for item in items %}
			<li class="group relative dropdown {{ item.classes | join(' ') }}">
				<a class="relative block py-2 " target="{{ item.target }}" href="{{ item.link|default('#') }}">
					{{ item.title }}
					{% if item.children %}
						<span class="h-6 w-6">
							<svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path d="M6 9L12 15L18 9" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					{% endif %}
				</a>
				<div id="submenu-{{ item.id }}" class="group-hover:block dropdown-menu absolute hidden h-auto">
					{% include "submenu.twig" with {'items': item.children} %}
				</div>
			</li>
		{% endfor %}
	</ul>
{% endif %}
