{% extends "base.twig" %}

{% block content %}

	{% block jumbotron %}
		{% include "blocks/jumbotron.twig" %}
	{% endblock %}
    {# <section class="jumbotron-section bg-center bg-no-repeat bg-blend-multiply angled-bottom h-[552px] sm:h-auto relative" style="background-image: url('{{ default_bg_image }}'); background-size: cover;">
		<div class="jumbotron-shape-left">
			<svg xmlns="http://www.w3.org/2000/svg" width="91" height="475" viewBox="0 0 91 475" fill="none">
				<path d="M91 288.032L0 0V475L91 288.032Z" fill="#B4D43D" fill-opacity="0.6"/>
			</svg>
		</div>
		<div class="mx-0 w-full h-full flex flex-col justify-center bg-dark-transparent h-[552px] sm:h-auto sm:pt-[15rem] sm:pb-[15rem]">
			<div class="container mx-auto">
				<h1 class="mb-4 text-white z-10 relative break-words">{{ title }}</h1>
			</div>
		</div>
		<div class="jumbotron-shape-bottom">
			<svg xmlns="http://www.w3.org/2000/svg" width="551" height="83" viewBox="0 0 551 83" fill="none">
				<path d="M551 0L0 30.8199L551 83V0Z" fill="#B4D43D" fill-opacity="0.6"/>
			</svg>
		</div>
	</section> #}
	{% block breadcrumbs %}
		{% include "blocks/breadcrumbs.twig" with {'home_page_url': home_page_url, 'parent_page_title': parent_page_title, 'parent_page_url': parent_page_url, 'page_title': page_title, 'page_url': page_url} %}
	{% endblock %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<div class="article-body">
					{{  single_job_content }}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
