{% extends "base.twig" %}

{% block content %}
    <section class="bg-center bg-no-repeat bg-blend-multiply angled-bottom min-h-[970px] relative" style="background-image: url('{{ default_bg_image }}'); background-size: cover;">
        <div class="jumbotron-shape-left">
            <svg xmlns="http://www.w3.org/2000/svg" width="91" height="475" viewBox="0 0 91 475" fill="none">
                <path d="M91 288.032L0 0V475L91 288.032Z" fill="#B4D43D" fill-opacity="0.6"/>
            </svg>
        </div>
        <div class="mx-0 w-full h-full flex flex-col justify-center bg-dark-transparent min-h-[970px]">
            <div class="container mx-auto">
                <h1 class="mb-4 text-white">{{ title }}</h1>
            </div>
        </div>
        <div class="jumbotron-shape-bottom"></div>
    </section>  
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			{# <section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section> #}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
