{% import "system/macro/form/confirmation.html.twig" as form_confirmation %}
{% import "system/macro/navigation/breadcrumb.html.twig" as breadcrumb %}

{% if not isPluginUnlocked() %}
    {{ messages() | raw }}
{% else %}
    {{ breadcrumb.component({items: [localized.breadcrumb.module]}, localized) }}

    {{ messages() | raw }}

    {% embed "system/embed/card/card-with-info-panel-below.html.twig" %}
        {% import "cloud-scan/macro/cloud-scan-table.html.twig" as cloud_scan_table %}
        {% import "system/macro/card/card-heading.html.twig" as card_heading %}
        {% import "system/macro/navigation/pagination.html.twig" as pagination %}

        {% block mainHeader %}
            {{ card_heading.component({
                title: localized.headline.scans,
                buttonText: localized.global.button.addNew,
                buttonLink: wpNonceUrl("?page=#{controllerId}&action=create", "#{controllerId}-create"),
            }, localized) }}
        {% endblock %}

        {% block mainContent %}
            {{ cloud_scan_table.component({
                controllerId: controllerId,
                scans: data.scans.data,
            }, localized) }}

            {{ pagination.component({
                controllerId: controllerId,
                pagination: data.scans,
            }, localized) }}
        {% endblock %}

        {% block infoPanelHeader %}
            {{ localized.global.headline.thingsToKnow | raw }}
        {% endblock %}

        {% block infoPanelContent %}
            {% embed "system/embed/accordion/accordion-group.html.twig" %}
                {% block content %}
                    {% embed "system/embed/accordion/accordion-group.html.twig" %}
                        {% block content %}
                            {% embed "system/embed/accordion/accordion.html.twig" with {id: 'accordionStyleBlockerOne', expanded: true} %}
                                {% block title %}
                                    {{ localized.thingsToKnow.headlineFunctionalityOfTheScanner }}
                                {% endblock %}
                                {% block content %}
                                    <p>{{ localized.thingsToKnow.functionalityOfTheScanner | raw }}</p>
                                    <p>{{ localized.createScan.thingsToKnow.scanTypeAudit | raw }}</p>
                                    <p>{{ localized.createScan.thingsToKnow.scanTypeSetup | raw }}</p>
                                {% endblock %}
                            {% endembed %}
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endif %}
