{#
 	Title: Card Grid
 	Description: This displays a grid of cards
 	Category: formatting
 	Icon: admin-comments
 	Keywords: card grid column
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}
<div class="container my-12 mx-auto cardgrid">
	<div class="w-full sm:max-w-[70%]">
		<p class="uppercase bold">{{ fields.subtitle }}</p>
		<h2>{{ fields.title }}</h2>
		<p class="my-10">{{ fields.intro }}</p>
	</div>
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-6 cards">
		{% for card in fields.cards %}
			<div class="min-w-[100%] flex flex-col max-w-sm p-8 border border-4 border-dark card {% if loop.index is odd %}odd {% else %}even {% endif %}">
				<img class="w-fit mb-10" src="{{ card.card_image}}" alt="{{ card.card_title}}" />
				<h3 class="mb-10 font-bold w-fit card-title">{{ card.card_title }}</h3>
				<div class="card-content">{{ card.content }}</div>
				{% if card.link %}
					<a href="{{ card.link.url }}" class="btn btn-underline w-fit mt-auto">{{ card.link.title}}</a>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% if fields.footer_link %}
		<a href="{{ fields.footer_link.url }}" class="btn btn-primary w-fit mt-10">{{ fields.footer_link.title }}</a>
	{% endif %}
</div>