{#
 	Title: Card Grid
 	Description: This displays a grid of cards
 	Category: formatting
 	Icon: admin-comments
 	Keywords: card grid column
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="container my-12 mx-auto px-4 cardgrid">
	<div class="max-w-[70%] mb-20">
		<p class="uppercase bold">{{ fields.subtitle }}</p>
		<h2>{{ fields.title }}</h2>
		<p class="my-10">{{ fields.intro }}</p>
	</div>
	<div class="cards-wrapper">
		{% for card in fields.cards %}
			<div class="flex flex-col border border-4 border-dark {% if loop.index is odd %}odd justify-self-end bg-white text-dark {% else %} even justify-self-start bg-dark text-white {% endif %} card">
				<img class="w-fit mb-12" src="{{ card.card_image}}" alt="{{ card.card_title}}" />
				<div class="flex flex-col">
					<h3 class="mb-8 font-bold w-fit  {% if loop.index is even %} text-white {% endif %}">{{ card.card_title }}</h3>
					<div class="{% if loop.index is even %} text-white {% endif %}">{{ card.content }}</div>
					{% if card.link %}
						<a href="{{ card.link.url }}" class="btn btn-underline w-fit mt-auto">{{ card.link.title}}</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% if fields.footer_link %}
		<a href="{{ fields.footer_link.url }}" class="btn btn-primary w-fit mt-10">{{ fields.footer_link.title }}</a>
	{% endif %}
</div>

<style>
	.cards-wrapper .card:not(:nth-child(-n + {{ half_card_total }})) {
		top: 2rem;
	}

	.cards-wrapper {
		height: {{ card_grid_height }}px;
	}
</style>