{#
 	Title: Jumbotron
 	Description: Jumbotron heading
 	Category: formatting
 	Icon: admin-comments
 	Keywords: jumbotron header
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}


<section class="jumbotron my-[5.5rem] grid grid-cols-12 gap-[2rem] {{ dark_mode }}">

{# Fullwidth Layouts #}
    {% if (textbox is defined or overlay is defined)%}
        <div class="overlay-container col-span-12 relative {% if textbox %} h-[auto] {% else %} h-[50rem] {% endif %}">
 			<div class="{% if overlay %} background-container absolute inset-0 {% endif %}"></div>            
 			<img class=" {% if overlay %}absolute h-full {% elseif textbox %} h-[40rem] {% endif %} inset-0 w-full  object-cover" src="{{ fields.background_image }}" alt="{{ fields.background_image.alt }} " />
		
		{% if overlay %}
            <div class="{% if overlay %} overlay absolute inset-0{% endif %}">
                <p class="tagline">{{ fields.tagline }}</p>
                <h1 class="mb-8">{{ fields.title }}</h1>
                <p class="text-2xl">{{ fields.content }}</p>
                <div class="flex flex-row gap-4 mt-[4rem]">
                    {% for key, button in fields.buttons %}
                        {% if button.button_text is defined and button.button_link is defined and button.button_text is not empty and button.button_link is not empty %}
                            {% set buttonClass = (key == 'button_1') ? 'btn-primary' : 'btn-outlined' %}
                            <a href="{{ button.button_link }}" class="btn {{buttonClass}}">
                                {{ button.button_text }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
	
		{% elseif textbox %}
		 <div class="textbox relative">
                <p class="tagline">{{ fields.tagline }}</p>
                <h1 class="mb-8">{{ fields.title }}</h1>
                <p class="text-2xl">{{ fields.content }}</p>
                <div class="flex flex-row gap-4 mt-[4rem]">
                    {% for key, button in fields.buttons %}
                        {% if button.button_text is defined and button.button_link is defined and button.button_text is not empty and button.button_link is not empty %}
                            {% set buttonClass = (key == 'button_1') ? 'btn-primary' : 'btn-outlined' %}
                            <a href="{{ button.button_link }}" class="btn {{buttonClass}}">
                                {{ button.button_text }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>

		{% endif %}
	</div>
{# Split Text / Image Layouts #}
    {% else %}
        <div class="text col-span-6 flex flex-col items-start justify-center content-end max-w-[90%] {{ reverse }}">
            <p class="tagline">{{ fields.tagline }}</p>
            <h1 class="mb-8">{{ fields.title }}</h1>
            <p class="text-2xl">{{ fields.content }}</p>
            <div class="flex flex-row gap-4 mt-[4rem]">
                {% for key, button in fields.buttons %}
                    {% if button.button_text is defined and button.button_link is defined and button.button_text is not empty and button.button_link is not empty %}
                        {% set buttonClass = (key == 'button_1') ? 'btn-primary' : 'btn-outlined' %}
                        <a href="{{ button.button_link }}" class="btn {{buttonClass}}">
                            {{ button.button_text }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="image col-span-6 h-[50rem]">
            <img class="h-[100%] object-cover" src="{{ fields.background_image }}" alt="{{ fields.background_image.alt }}" />
        </div>
    {% endif %}
</section>


