{#
 	Title: Split Text Image
 	Description: This block shows an image on one side, and a title, text, and link on the other.
 	Category: formatting
 	Icon: admin-comments
 	Keywords: column text image split
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}


{############# add new field styles here to variable if the text should be left !! ###############}
{% set textdirection = (fields.style == 'darktriangle') or (fields.style == 'imgbottomright') or (fields.style == 'imgtopright') or (fields.style == 'imgtoprighttriangle') ? 'textleft' : 'textright' %}


<div class="split-text-img w-full relative mt-20 {{textdirection}} {% if fields.style == 'dark' %} text-white dark-style {% endif %} {% if fields.style == 'imgtopright' %} pt-[3rem] pb-[3rem] {% endif %}">
	<div class="bg-dark absolute background {% if fields.style == 'dark' %} fullscreen-background {% endif %} "></div>

		{# dark triangle SVG on right side #}
		{% if fields.style == 'darktriangle' %}
			<svg class="dark-triangle-right" xmlns="http://www.w3.org/2000/svg" width="502" height="1014" viewbox="0 0 502 1014" fill="none">
				<path d="M0 544L502 0V1014L0 544Z" fill="#093642"/>
			</svg>
		{% endif %}

		{# small green triangle SVG on left side #}
		{% if fields.style == 'imgtoprighttriangle' %}
			<svg class="triangle-left" xmlns="http://www.w3.org/2000/svg" width="103" height="1066" viewbox="0 0 103 1066" fill="none">
				<path d="M-164.609 1065.82L102.403 274.698L-170.661 0.20949L-164.609 1065.82Z" fill="#B4D43D" fill-opacity="0.6"/>
			</svg>
		{% endif %}
	
	<div class="container mx-auto relative">
		<div class="flex flex-col mb-40 {% if fields.style == 'darktriangle' %} flex-col-reverse {% endif %} {% if textdirection == 'textleft' %} sm:flex-row-reverse {% else %} sm:flex-row {% endif %} ">
			<div class="img-wrapper min-h-[500px] sm:w-1/2">
				<div class="img-content flex justify-center relative">
					<div class="img-decoration decoration-{{fields.style}}"></div>
					<div class="{{fields.style}}" style="background-image: url('{{ fields.image }}');"></div>
				</div>
			</div>
			<div class="text-content sm:w-1/2 h-100 flex flex-col justify-center">
				<div class="text-inner">
					<p class="tagline {% if fields.style == 'dark' %}text-white{% endif %}">{{ fields.intro_title }}</p>
					<h2 class="mb-4">{{ fields.title }}</h2>
					<h3 class="mb-8 {% if fields.style == 'dark' %} text-primary {% endif %}">{{ fields.subtitle }}</h3>
					<p class="mb-12 {% if fields.style == 'dark' %}text-white{% endif %}">{{ fields.content }}</p>

					{# only show button if link text is set #}
					{% if fields.link %}
						<div class="flex">
							<a class="btn {% if fields.link_style == 'primary' %} btn-primary {% elseif fields.link_style == 'arrowdark' %} btn-underline {% else %} btn-underline-white {% endif %} w-fit" href="{{ fields.link.url }}">{{ fields.link.title }}</a>
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>

