{#
 	Title: Split Text Columns
 	Description: Shows two columns of text & images with an optional link at the bottom
 	Category: formatting
 	Icon: admin-comments
 	Keywords: split text column
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="container mx-auto">
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 gap-x-8 py-12">
		{% for item in fields.items %}
			<div class="split-text-item flex flex-col text-center items-center">
				{% if item.image %}
					<div class="mb-20">
						{{ item.image }}
					</div>
				{% endif %}
				<div class="">
					{% if item.tagline %}
						<p class="tagline">{{ item.tagline }}</p>
					{% endif %}
					{% if item.title %}
						<h3 class="mb-8">{{ item.title }}</h3>
					{% endif %}
					{% if item.text %}
						<p>{{ item.text }}</p>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
	{% if fields.link %}
		<div class="w-full flex justify-center my-20">
			<a class="btn btn-primary w-fit" href="{{ fields.link.url }}">{{ fields.link.title }}</a>
		</div>
	{% endif %}
</div>

