{#
 	Title: Split Text Image
 	Description: This block shows an image on one side, and a title, text, and link on the other.
 	Category: formatting
 	Icon: admin-comments
 	Keywords: column text image split
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<section class="faq py-[5.5rem] my-[5.5rem] {{ dark_mode }}">
<div class="container grid grid-cols-12 gap-[2rem]">
    <div class="text col-span-6 flex flex-col items-start justify-{{ fields.text_alignment}} order-{{ reverse }}">
		<p class="tagline"> {{ fields.tagline }} </p>
		<h2 class="mb-8">{{ fields.title }}</h2>
       	<p class="text-2xl ">{{ fields.content }}</p>
		<div class="flex flex-row gap-4 mt-[4rem]">
	{% for key, button in fields.buttons %}
   		{% if button.button_text is defined and button.button_link is defined and button.button_text is not empty and button.button_link is not empty %}
			{% set buttonClass = (key == 'button_1') ? 'btn-primary' : 'btn-outlined' %}
       		<a href="{{ button.button_link }}" class="btn {{buttonClass}}">
        	    {{ button.button_text }}
       		</a>
    	{% endif %}
	{% endfor %}
</div>
    </div>
    <div class="image col-span-6">
        <img src="{{ fields.image }}" alt="{{ image1.alt }}" />
    </div>
</div>
</section>